* {
    --background-color: #232327;
    --text-color: #86de74;
    --boder-color: #75bfff;
    --button-color: #2a2a2e;
    --outline-color: #ff7de9;
    --button-border-color: #b97391; 
    --link-color: #bfd7db;
    outline-color: var(--outline-color);
}
html,body {
    width: 100%;
}
body {
    min-width: 300px;
    margin: 0 auto;
    border: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}
a[href] {
    color: var(--link-color);
    text-decoration-color: var(--link-color);
    cursor: pointer;
    word-break: break-all;
}
a[href]:hover {
    color: var(--button-border-color);
    text-decoration-color: var(--link-color);
}
.vertical-center {
    min-height: 100vh;
    display: grid;
    grid-auto-flow: row dense; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 16px 16px; 
    grid-template-areas: 
      "content"; 
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
    align-items: center; 
    max-width: 100%;
}
.form {
    max-width: 100%;
    width: fit-content;
    width: 100%;
    margin: 0 auto;
}
.form > .list-name {
    padding: 1rem;
    margin: 0 auto;
}
.form > .list-name > * {
    margin: 0 auto;
    font-size: 2rem;
}
.form > .share {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}
.form > .share > self-qr {
    width: 40%;
    margin: 0 auto;
    display: block;
}